@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background: black;
}

.container {
    margin: auto;
    margin-left: 35%;

}

.container h1 {
    color: wheat;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Changa', sans-serif;
}

input {
    height: 100px;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 140px;
    font-weight: bold;
    background: rgb(156, 24, 156);
    border-radius: 10px;
}

button {
    position: relative;
    top: 40px;
    right: 200px;
    font-size: 30px;
    color: rgb(20, 167, 33);
    border-radius: 10px;

}